:root {
    --bg: #fff6e9;

    --light: #5c462c;
    --mid: #dfcdb2;
    --dark: #2c2212;

    --text: #272012;
    --textAlt: #f1f1f1;

    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: var(--text);
}

html, body {
    min-height: 100%;
}

.headsup {
    color: red;
    background-color: azure;
    padding: 2rem;
    border: .2rem solid red;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    display: flex;
}

main {
    padding: 5em;
    box-sizing: border-box;
}

aside {
    padding: 0 .5rem;

    text-align: center;

    position: sticky;
    top: 0;
    height: 100vh;
    width: fit-content;
    min-width: 20vh;

    background-color: var(--light);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    flex: 1;
}

aside section:first-child a{
    padding: .5rem 2rem;
}

aside:first-child section {
    width: 100%;
}

aside h1 {
    color: var(--bg);
}

aside a {
    color: var(--textAlt);
    text-decoration: none;

    padding: .5rem;
    border-radius: 1rem;

    box-shadow: 3px 3px 3px 3px var(--dark);
}

main section {
    min-height: 10vh;
    margin: 5rem 0;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
}

li {
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 1rem;
}

li > a {
    width: 100%;
    padding: 1rem 3rem;
    background-color: var(--bg);
    color: var(--text);
}

main section li {
    border: 1px solid var(--mid);
    border-radius: 1rem;
    padding: 1rem;
}

main section li:nth-child(even) {
    border: none;
    background-color: var(--mid);
    color: var(--text);
}

main section h1:first-child {
    text-decoration: overline underline var(--light);
}

.mailLink {
    all: unset;
    text-decoration: underline;
}

hr {
    border: 6px solid var(--dark);
    border-radius: -1rem;
}

main a {
    text-decoration: underline;
    color: var(--text);
}


.imgContainer {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.imgContainer img {
    width: 100%;
}

@media (orientation: portrait) and (max-width: 1150px){
    aside {
        position: fixed;
        
        padding: 0;

        top: unset;
        bottom: 0;
        right: 0;
        width: 20%;
        height: 10vh;

        flex-direction: row;

        min-width: unset;
    }

    aside:first-child {
        left: 0;
        width: 81%;
    }

    aside:first-child section{
        flex: 5;
    }

    aside:first-child section:first-child{
        flex: 1;
    }

    aside:first-child section:first-child h1 {
        white-space: wrap;
    }

    .imgContainer {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    aside ul {
        display: fixed;
        margin-bottom: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        margin: 0;
        gap: .5rem;
    }

    aside nav, aside li {
        width: unset;
    }
    
    aside nav ul {
        display: flex;
        flex-direction: row;
        height: fit-content;
        flex-wrap: wrap;
    }

    aside ul li, aside ul a {
        padding: .3rem;
        height: fit-content;
    }

    aside h1 {
        font-size: large;
    }

    li {
        margin: 0;
    }
}

@media (hover: hover) {
    main a:hover {
        color: var(--text);
        text-decoration: overline underline;
        background-color: transparent;
    }

    .mailLink:hover {
        cursor: pointer;
    }

    a:hover {
        color: whitesmoke;
        background-color: var(--dark);
        box-shadow: none;
        cursor: pointer;
    }
}